# Packaging
packaging/**/pkg
packaging/**/src
packaging/**/*.tar*
packaging/**/*.pack
packaging/rebornos-cinnamon-skel-git/rebornos-cinnamon-skel/*
packaging/rebornos-cinnamon-skel/rebornos-cinnamon-skel/*

# VSCode
*.code-workspace